.msg_theme{
	background-color: #c0c0c0;
	padding: 4px 4px 4px 4px;
}

.msg_theme .msg .top{
	margin-top: auto;
}
.msg_theme .blank{
	margin-top: 4px
}

.msg_theme .msg{ 
	height: calc(100vh - 72px);
	overflow-y: scroll;
	font-size: medium;
	max-height: calc(90vh - 72px);
	display: flex;
    flex-direction: column;
}

.msg_theme .msg .time{
	font-size: xx-small;
	height: 100%;
    align-self: flex-end;
}
.msg_theme .msg .box{
    display: flex;
	width: 100%;
}

.msg_theme .msg .mymsg .time{
	text-align: right;
	margin: auto 0 0 auto;
}

.msg_theme .msg .mymsg .context{
	min-height: 24px;
	max-width: calc(100% - 64px);
	left: 0px;
	background-color: #b4ce9b;
	z-index: 1;
	padding: 0px 4px 0px 4px;
	word-break: break-all;
}

.msg_theme .msg .mymsg.unread .context{
	background-color: #cec49b;
}

.msg_theme .msg .othermsg .context{
	min-height: 24px;
	max-width: calc(100% - 64px);
	left: 0px;
	background-color: #9bcece;
	z-index: 1;
	padding: 0px 4px 0px 4px;
	word-break: break-all;
}

.msg_theme .msg .othermsg .time{
	margin: auto 0 0 0;
}

.msg_theme .sendmsg .textarea{
	width: calc(100% - 8px);
	height: auto;
	font-size: medium;
	margin: 0px 0px 0px 0px;
	padding: 2px 2px 2px 2px;
	resize: none;
}