.msg_theme{
	background-color: #c0c0c0;
	padding: 4px 4px 0px 4px;
}

.msg_theme .clear{
	clear: both;
}

.msg_theme .blank{
	clear: both;
	height: 4px;
}

.msg_theme .msg{
	height: calc(100% - 72px);
	overflow-y: scroll;
	font-size: 12px;
}

.msg_theme .msg .time{
	font-size: 10px;
}

.msg_theme .msg .mymsg{
	float: right;
	width: 100%;
}

.msg_theme .msg .mymsg .time{
	float: right;
	bottom: 0;
}

.msg_theme .msg .mymsg{
	float: right;
	position: relative;
	min-height: 24px;
	max-width: calc(100% - 64px);
	left: 2px;
	background-color: #a2ff95;
	z-index: 2;
	padding: 0px 4px 0px 4px;
	word-break: break-all;
}

.msg_theme .msg .othermsg{
	float: left;
	width: 100%;
}

.msg_theme .msg .othermsg .box{
	float: left;
	width: calc(100% - 48px);
}

.msg_theme .msg .othermsg .box{
	float: left;
	position: relative;
	min-height: 24px;
	max-width: calc(100% - 64px);
	left: -2px;
	background-color: #9dfcff;
	z-index: 2;
	padding: 0px 4px 0px 4px;
	word-break: break-all;
}

.msg_theme .msg .othermsg .box .time{
	float: left;
}

.msg_theme .sendmsg .textarea{
	float: left;
	width: 100%;
	height: 16px;
	margin: 0px 0px 0px 0px;
	padding: 2px 2px 2px 2px;
	resize: none;
}